# =========================
# PostgreSQL (App DB)
# =========================
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

# =========================
# Keycloak DB
# =========================
KC_DB=postgres
KC_DB_URL_HOST=
KC_DB_URL_DATABASE=
KC_DB_USERNAME=
KC_DB_PASSWORD=

# =========================
# Keycloak Admin Bootstrap
# =========================
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=

# =========================
# Keycloak Ports
# =========================
KEYCLOAK_PORT=